body {
  background-color: grey;
}

.map {
position: relative;
}

.map:after {
  content: url(../img/pin.png);
  position: absolute;
  top: 15px;
  left: 250px;
}

.map:after {
  content: url(../img/monkey.jpg);
  position: absolute;
  top: 15px;
  left: 350px;
}

.map:after {
  content: url(../img/pin.png);
  position: absolute;
  top: 15px;
  left: 650px;
}

.map:after {
  content: url(../img/pin.png);
  position: absolute;
  top: 15px;
  left: 850px;
}

.map:after {
  content: url(../img/pin.png);
  position: absolute;
  top: 15px;
  left: 750px;
}

.map:after {
  content: url(../img/pin.png);
  position: absolute;
  top: 135px;
  left: 500px;
}

.map:after {
  content: url(../img/pin.png);
  position: absolute;
  top: 150px;
  left: 50px;
}
.map:after {
  content: url(../img/pin.png);
  position: absolute;
  width:
  top: 15px;
  left: 50px;
}

.map:after {
  content: url(../img/pin.png);
  position: absolute;
  width:
  top: 105px;
  left: 50px;
}

.map:after {
  content: url(../img/pin.png);
  position: absolute;
  top: 120px;
  left: 50px;
}
/*h1 {
  position: absolute;
  border-style: solid;
  border-color: green;
  background-color: blue;
  color: green;
}*/
